In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval,
management, and manipulation of the data. Databases are used to store and manage vast amounts of information for various
purposes, such as business operations, analytics, and application data storage.

SQL Databases (Relational Databases):
SQL (Structured Query Language) databases, also known as relational databases, are based on the relational model, which organizes
data into tables with rows and columns. These databases use SQL to define, manipulate, and query data.

NoSQL Databases (Non-Relational Databases):
NoSQL databases, as the name suggests, depart from the structured, tabular nature of SQL databases. They are designed to handle
unstructured or semi-structured data and offer more flexibility in terms of schema design.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL (Data Definition Language):
DDL stands for Data Definition Language. It's a subset of SQL (Structured Query Language) used for defining and managing the
structure of the database objects, such as tables, indexes, constraints, and views. DDL statements are used to create, modify,
and delete these database objects.

In [1]:
CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, and more.

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, or views. This operation is irreversible.
DROP TABLE Students;

ALTER:
The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or 
delete columns, constraints, and other properties.
ALTER TABLE Students
ADD Email VARCHAR(100);

SyntaxError: invalid syntax (2127562353.py, line 4)

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It's a subset of SQL (Structured Query Language) used for interacting with and 
manipulating the data stored in the database. DML statements are used to insert, update, and delete data within tables.

The INSERT statement is used to insert new rows of data into a table.
eg.INSERT INTO Students (StudentID, FirstName, LastName, Age)
VALUES (1, 'John', 'Doe', 20);

The UPDATE statement is used to modify existing data in a table.
eg.UPDATE Students
SET Age = 21
WHERE StudentID = 1;

The DELETE statement is used to remove rows of data from a table.
eg.DELETE FROM Students
WHERE StudentID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) used for retrieving and querying data
from a database. DQL statements are primarily focused on retrieving data that matches specific criteria and formatting the result set.

The SELECT statement is used to retrieve data from one or more tables. It allows you to specify which columns you want 
to retrieve, apply conditions to filter the rows, and even perform calculations or manipulations on the data.

Example - Retrieving Data from a Table:
Suppose you have a table named "Employees" with columns "EmployeeID," "FirstName," "LastName," "Salary," and "Department".
SELECT EmployeeID, FirstName, LastName, Salary
FROM Employees
WHERE Department = 'IT';

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key is a unique identifier for a record within a database table. It ensures that each row in the table is uniquely 
identifiable and can be used to access, update,or delete specific records. Primary keys play a crucial role in maintaining 
data integrity and establishing relationships between tables.
eg.
CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);


A foreign key is a field in a database table that establishes a link between two tables by referencing the primary key of another table.
It defines a relationship between the tables, allowing data to be associated across multiple tables.
eg.
CREATE TABLE Courses (
    CourseID INT PRIMARY KEY,
    CourseName VARCHAR(100),
    InstructorID INT,
    FOREIGN KEY (InstructorID) REFERENCES Instructors(InstructorID)
);

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [6]:

import mysql.connector

db_connection=mysql.connector.connect(
host='abc',
username='pwskills',
password='ayush',
database='students_table'
)

cursor=db_connection.cursor()

query='select * from students'
cursor.execute(query)

results=cursor.fetchall()


for row in results:
    print(row)
    
    cursor.close()
    db_connection.close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM: The FROM clause specifies the tables from which you want to retrieve data. It identifies the data sources for the query.

JOIN: If your query involves joining multiple tables, the JOIN clauses define how these tables are related and how the data is combined.

WHERE: The WHERE clause filters the data based on specified conditions. It allows you to include only the rows that meet the specified criteria.

GROUP BY: If you're using aggregation functions like SUM, COUNT, etc., the GROUP BY clause groups the rows based on a specific column or columns.

HAVING: The HAVING clause is used with the GROUP BY clause to filter groups of data based on aggregate function results.

SELECT: The SELECT clause specifies the columns you want to retrieve from the result set. It defines what data will be displayed in the output.

DISTINCT: If you're using the DISTINCT keyword, it's applied after the SELECT clause and before other clauses to eliminate duplicate rows.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It determines the order in which rows are presented in the output.

LIMIT/OFFSET: If you're using pagination or need to limit the number of rows returned, the LIMIT and OFFSET clauses come after sorting. LIMIT specifies the maximum number of rows to return, and OFFSET defines the starting row.

It's ie typical flow of SQL query processing.